  body {
    background-color: #FFFFFF;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 7em;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  button.twitter {
    background-color: #26c4f1 !important;
  }
  button.twitter:hover {
    background-color: darken(#26c4f1, 10%) !important;
  }
  @media screen and (max-width: 640px) {
   .width-640-plus {
      display: none !important;
    }
  }
